.navigation {
    position: sticky;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
}

.nav {
    display: flex;
    justify-content: center;
}

.nav-list {
    display: flex;
    align-items: center;
    list-style-type: none;
    font-size: 12px;
}

.nav-item {
    padding: 12px 20px;
    color: #d2d2d7;
    cursor: pointer;
    font-weight: 300;
}

.nav-item:hover {
    color: white;
}

.nav-list .nav-logo {
    font-size: 16px;
}
